body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #FFD700;
    text-align: center;
    font-size: large; 
    text-shadow: black 1px 2px 3px;
    cursor: default;
}
h1:hover {
    color: #FFA500;
    text-shadow: black 2px 3px 4px;
}

footer {
    font-size: small;
    color: rgb(121, 120, 120);
    margin-bottom: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(121, 120, 120);
}
a:hover {
    text-decoration: underline;
}

hr {
    width: 20%;
    margin-bottom: 30px;
}