body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: brown;
    text-align: center;
    font-size: large; 
}

canvas {
    width: 480px;
    height: 600px;
}

footer {
    margin-top: 20px;
    font-size: small;
    color: rgb(121, 120, 120);
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(121, 120, 120);
}